{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "React": true
  },

  "ecmaFeatures": {
    "jsx": true
  },

  "plugins": [
    "react"
  ],

  "parser": "babel-eslint",

  "rules": {
    "strict": 0
  }
}
