/.cache
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.class

.target
# Package Files #
*.jar
*.war
*.ear

#Typesafe Activator Crap
activator-sbt-*-shim.sbt

.envrc

server.pass.key
server.key
server.csr
