.terrain-table {
    width: auto !important;
}
.terrain-table th, .terrain-table td {
    border-top: none !important;
}

.terrain-cell {
    height: 142px;
    width: 91px;
}

.building,
.terrain-cell img {
    height: 125px;
    width: 75px;
}

/*.building {*/
    /*transition: all .2s ease-in-out;*/
/*}*/
/*.building:hover {*/
    /*transform: scale(2.0);*/
/*}*/
.clickable {
    cursor: pointer;
}


.plains {
    background-color: #b3e2cd;
}
.hillside {
    background-color: #e6f5c9;
}
.coast {
    background-color: #f1e2cc;
}
.water {
    background-color: #cbdbff;
}
.mountain {
    position: relative;
    top: 71px;
    background-color: #cfcfcf;
}

.over-scroll {
    overflow-x: scroll;
}
