.terrain-table {
    width: auto !important;
}

.terrain-cell {
    height: 142px;
    width: 91px;
}

.terrain-cell img {
    height: 125px;
    width: 75px;
}

.building {
    transition: all .2s ease-in-out;
}
.building:hover {
    transform: scale(2.0);
}


.plains {
    background-color: #b3e2cd;
}
.hillside {
    background-color: #e6f5c9;
}
.coast {
    background-color: #f1e2cc;
}
.water {
    background-color: #cbdbff;
}