.landscape td {
  font-size: xx-small;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #777;
  height: 135px;
  width: 85px;
}

.water {
	background-color: #87b6ff;
}
.coast {
	background-color: #ffdd67;
}
.plains {
	background-color: #7cd958;
}
.hillside {
	background-color: #bdd6b5;
}
.mountain {
	background-color: #A2A6A0;
}

div.moor {
  margin: auto;
  height: 125px;
  width: 75px;
  background-color: #7cb958;
  border: 1px solid #6ca948;
  font-size: x-large;
  color: #6c9948;
}

div.forest {
  margin: auto;
  height: 125px;
  width: 75px;
  background-color: #6cc948;
  border: 1px solid #5cb938;
  font-size: x-large;
  color: #5cb938;
}

img.building {
  height: 125px;
  width: 75px;
}

.chit {
  height: 40px;
  width: 40px;
  margin: 0 5px 5px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: inline-block;
}
