@(instance: Instance, stateForm: Form[State])

@import com.feth.play.module.pa.views.html._

@main(instance.gameName) {


  <!-- Modal -->
  <div class="modal fade" id="useModal" tabindex="-1" role="dialog" aria-labelledby="useModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Use Building</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <div class="btn-group">
            <button type="button" class="btn btn-primary" id="useClergyman">Use Clergyman</button>
            <button type="button" class="btn btn-primary" id="usePrior">Use Prior</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 history-box">                                                                                                                                 >
    @for(state <- instance.states) {
      @state.token<br />
    }

    @helper.form(action = routes.InstanceController.explore(instance.id)) {
      @helper.inputText(stateForm("token"))
      <input type="submit" value="Explore" class="btn btn-default" />
    }
    @helper.form(action = routes.InstanceController.backtrack(instance.id)) {
      <input type="submit" value="Backtrack" class="btn btn-default" />
    }
  </div>

  <div class="col-md-12" id="main"></div>

  <script id="results-template" type="text/x-handlebars-template">
    <h3>Unbuilt Buildings</h3>
    {{#each unbuiltBuildings}}
      {{erection 'BUILDING' this}}
    {{/each}}
    {{#with wheel}}
      <h3>Resource Rondel</h3>
      <table class="table">
        <tr>
          {{#each armValues}}
            <th>{{this}}</th>
          {{/each}}
        </tr>
        <tr>
          {{#each table}}
            <td>{{#each this}}{{this}}<br />{{/each}}</td>
          {{/each}}
        </tr>
      </table>
    {{/with}}
    {{#each players}}
      <h3>Player {{color}}</h3>
      {{chit peat 'Peat'}}
      {{chit penny 'Penny'}}
      {{chit clay 'Clay'}}
      {{chit wood 'Wood'}}
      {{chit grain 'Grain'}}
      {{chit sheep 'Sheep'}}
      {{chit stone 'Stone'}}
      {{chit flour 'Flour'}}
      {{chit grapes 'Grapes'}}
      {{chit nickel 'Nickel'}}
      {{chit hops 'Hops'}}
      {{chit coal 'Coal'}}
      {{chit book 'Book'}}
      {{chit pottery 'Pottery'}}
      {{chit whiskey 'Whiskey'}}
      {{chit straw 'Straw'}}
      {{chit meat 'Meat'}}
      {{chit ornament 'Ornament'}}
      {{chit bread 'Bread'}}
      {{chit wine 'Wine'}}
      {{chit beer 'Beer'}}
      {{chit reliquary 'Reliquary'}}
      <table class="table terrain-table">
        {{#with landscape.terrainTable}}
          {{#each this}}
            <tr>
              {{#each this}}
                <td class="terrain-cell {{lower terrainType}}">
                  {{erection terrainUse erection}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        {{/with}}
      </table>
    {{/each}}
    {{player}}
  </script>

}
