@(instance: Instance, stateForm: Form[State])

@import com.feth.play.module.pa.views.html._

@main("Get Instance") {

  <div class="col-md-2">
    @instance<br />
    <ul>
      @for(state <- instance.states) {
        <li>@state</li>
      }
    </ul>

    @helper.form(action = routes.InstanceController.explore(instance.id)) {
      @helper.inputText(stateForm("token"))
      <input type="submit" value="Explore" class="btn btn-default" />
    }
    @helper.form(action = routes.InstanceController.backtrack(instance.id)) {
      <input type="submit" value="Backtrack" class="btn btn-default" />
    }
  </div>
  <div class="col-md-10" id="results"></div>


<script id="results-template" type="text/x-handlebars-template">

  {{#with wheel}}
    <h3>Resource Rondel</h3>
    <table class="table table-bordered">
      <tr>
        {{#each armValues}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
      <tr>
        {{#each table}}
          <td>{{#each this}}{{this}}<br />{{/each}}</td>
        {{/each}}
      </tr>
    </table>
  {{/with}}
  {{#each players}}
    <hr />

    <h3>Player {{color}}</h3>
    {{chit peat 'Peat'}}
    {{chit penny 'Penny'}}
    {{chit clay 'Clay'}}
    {{chit wood 'Wood'}}
    {{chit grain 'Grain'}}
    {{chit sheep 'Sheep'}}
    {{chit stone 'Stone'}}
    {{chit flour 'Flour'}}
    {{chit grapes 'Grapes'}}
    {{chit nickel 'Nickel'}}
    {{chit hops 'Hops'}}
    {{chit coal 'Coal'}}
    {{chit book 'Book'}}
    {{chit pottery 'Pottery'}}
    {{chit whiskey 'Whiskey'}}
    {{chit straw 'Straw'}}
    {{chit meat 'Meat'}}
    {{chit ornament 'Ornament'}}
    {{chit bread 'Bread'}}
    {{chit wine 'Wine'}}
    {{chit beer 'Beer'}}
    {{chit reliquary 'Reliquary'}}

    <hr />

    <table class="table terrain-table">
      {{#with landscape.terrainTable}}
        {{#each this}}
          <tr>
            {{#each this}}
              <td class="terrain-cell {{lower terrainType}}">
                {{erection terrainUse erection}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      {{/with}}
    </table>
  {{/each}}
  {{player}}

</script>

  <script>

$(document).ready(function () {

  var templateSource = $("#results-template").html();

  Handlebars.registerHelper('chit', function(n, image) {
    s='';
    for(i=0; i<n; i++) {
      s+='<img src="/assets/images/weblabora/chit/'+image+'.jpg" class="img-rounded" /> ';
    }
    return new Handlebars.SafeString(s);
  });
  Handlebars.registerHelper('lower', function(str) {
    return str.toLowerCase();
  });
  Handlebars.registerHelper('erection', function(use, building) {
    switch(use) {
      case 'FOREST':
        return new Handlebars.SafeString('<img src="/assets/images/weblabora/terrain/Wood.jpg" class="img" />');
      case 'MOOR':
        return new Handlebars.SafeString('<img src="/assets/images/weblabora/terrain/Peat.jpg" class="img" />');
      case 'BUILDING':
        return new Handlebars.SafeString('<img src="/assets/images/weblabora/buildings/'+(building.image)+'.jpg" class="img building" />');
    }
  });

  var template = Handlebars.compile(templateSource);
  var resultsPlaceholder = $("#results");

  $.ajax({
    url: '/instance/1/board',
    success: function (data) {
      resultsPlaceholder.html(template(data));
    }
  });
})

  </script>

}
