@(instance: Instance, stateForm: Form[State])

@import com.feth.play.module.pa.views.html._

@main("Get Instance") {

  @instance<br />
  <ul>
    @for(state <- instance.states) {
      <li>@state</li>
    }
  </ul>

  @helper.form(action = routes.InstanceController.explore(instance.id)) {
    @helper.inputText(stateForm("token"))
    <input type="submit" value="Explore" class="btn btn-default" />
  }
  @helper.form(action = routes.InstanceController.backtrack(instance.id)) {
    <input type="submit" value="Backtrack" class="btn btn-default" />
  }


<script id="results-template" type="text/x-handlebars-template">
  Stuff
</script>
<div id="results"></div>

  <script>

$(document).ready(function () {

  var templateSource = $("#results-template").html();
  var template = Handlebars.compile(templateSource);
  var resultsPlaceholder = $("#results");

  var q = "charlie";

  $.ajax({
    url: '/instance/1/board',
    success: function (response) {
      data = response.data;
      resultsPlaceholder.html(template(data));
    }
  });
})

  </script>

}