@(instances: List[Instance])

@import com.feth.play.module.pa.views.html._

@main("Join Instance") {

  @if(instances.isEmpty()) {
    <i>There are no instances you can join. You should create one.</i>
  } else {
    @for(instance <- instances) {
      <ul>
        <li>
          @instance
          @helper.form(action = routes.InstanceController.joinSubmit(instance.id)) {
            <input type="submit" class="btn btn-primary" value="Join"/>
            <a href="@routes.InstanceController.get(instance.id)" class="btn btn-default">View</a>
          }
        </li>
      </ul>
    }
  }

}