
@color-red: #fbb4ae;
@color-blue: #b3cde3;
@color-green: #ccebc5;
@color-purple: #decbe4;
@color-orange: #fed9a6;
@color-yellow: #ffffcc;
@color-brown: #e5d8bd;
@color-pink: #fddaec;
@color-grey: #f2f2f2;
@color-dark-grey: #606060;

@fence-width: 8px;
@fence-height: 80px;

/*
alternate color set
@color1: #8dd3c7;
@color2: #ffffb3;
@color3: #bebada;
@color4: #fb8072;
@color5: #80b1d3;
@color6: #fdb462;
@color7: #b3de69;
@color8: #fccde5;
@color9: #d9d9d9;
@colora: #bc80bd;
@colorb: #ccebc5;
@colorc: #ffed6f;
*/

.terrain {
  border-collapse: collapse;
}

.LOT_I {
  background-color: @color-orange;
  height: @fence-width;
  width: @fence-width;
}

.LOT_H {
  background-color: @color-orange;
  height: @fence-width;
  width: @fence-height;
}

.LOT_V {
  background-color: @color-orange;
  width: @fence-width;
  height: @fence-height;
}

.LOT_P {
  height: @fence-height;
  width: @fence-height;
  background-color: @color-green;
}