@(form: play.data.Form[Application.Create], user: User)

@main(user) {

	@helper.form(routes.Application.createSubmit) {
		<h2>Create</h2>
	
		@if(form.hasGlobalErrors) {
			<p class="error">
				@form.globalError.message
			</p>
		}
		@if(flash.contains("success")) {
			<p class="success">
				@flash.get("success")
			</p>
		}
		
		<p>
			@helper.inputText(form("name"), 'id -> "name")
		</p>
		<p>
			@helper.select(field = form("game"), options = Seq("agricola2p"->"Agricola: All Creatures Big & Small"))
		<p>
			<button type="submit">Create Instance</button>
		</p>

	}
}