@main() {
    
    <div id="page" class="container"></div>
    
    <script type="text/x-handlebars-template" id="instances-list-template">
        <h1>Instances</h1>
        <hr />
    
        <a href="#/new" class="btn btn-primary">New Instance</a>
        <table class="table striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Game</th>
                    <th>Seed</th>
                </tr>
            </thead>
            <tbody>
                {{#each instances}}
                    <tr>
                        <td><a href="#/view/{{ id }}">{{ name }}</a></td>
                        <td>{{ game }}</td>
                        <td>{{ seed }}</td>
                        <!--<td><a href="#/edit/{{ id }}" class="btn">Edit</a></td>-->
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </script>
    
    <script type="text/x-handlebars-template" id="instance-edit-template">
        <form class="instance-edit-form">
            <legend>Create Instance</legend>
            <label>Name</label>
            <input type="text" name="name" value="{{ instance.name }}" />
            <hr />
            <button type="submit" class="btn">Create</button>
        </form> 
    </script>

    <script type="text/x-handlebars-template" id="instance-view-template">
        <h1>Agricola: All Creatures Big &amp; Small</h1>
        <hr />
        <div id="alertPlaceholder"></div>
        
        
        {{#with board}}
        <div class="row">
            <div class="span8">
                <div class="row">
                    {{#with actions.SP}}
                        <div class="span2 action {{#if usable}}usable{{/if}}" data-command="SP">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                            &rarr; 1 Wood<br />
                            Starting Player<br />
                            <b>{{ wood }} Wood</b>
                        </div>
                    {{/with}}
                    {{#with actions.Wx3}}
                        <div class="span2 action {{#if usable}}usable{{/if}}" data-command="Wx3">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                            &rarr; 3 Wood<br />
                            <br />
                            <b>{{ wood }} Wood</b>
                        </div>
                    {{/with}}
                    {{#with actions.Sx1}}
                        <div class="span2 action {{#if usable}}usable{{/if}}" data-command="Sx1">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                            &rarr; 1 Stone<br />
                            <br />
                            <b>{{stone}} Stone</b>
                        </div>
                    {{/with}}
                    {{#with actions.Sx2}}
                        <div class="span2 action {{#if usable}}usable{{/if}}" data-command="Sx2">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                            &rarr; 2 Stone<br />
                            <br />
                            <b>{{stone}} Stone</b>
                        </div>
                    {{/with}}
                </div>
                <div class="row">
                    {{#with actions.WFen}}
                        <div class="span2 action {{#if usable}}usable{{/if}}" data-command="WFen">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                            1 Wood &rarr; Build Fence
                        </div>
                    {{/with}}
                    {{#with actions.SFen}}
                        <div class="span2 action {{#if usable}}usable{{/if}}" data-command="SFen">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                            Build 2 Fences<br />
                            2 Stone &rarr; Build Fence<br />
                        </div>
                    {{/with}}
                    {{#with actions.RSW}}
                        <div class="span2 action {{#if usable}}usable{{/if}}" data-command="RSW">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                            +1 Wood<br />
                            +1 Stone<br />
                            +1 Reed
                        </div>
                    {{/with}}
                    {{#with actions.X}}
                        <div class="span2 action {{#if usable}}usable{{/if}}" data-command="X">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                            &rarr; 1 Fence<br />
                            Expansion<br />
                            <b>{{fences}} Fences</b>
                        </div>
                    {{/with}}
                </div>
                <div class="row">
                    {{#with actions.Stall}}
                    <div class="span2 action {{#if usable}}usable{{/if}}" data-command="Stall">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                        3 Stone 1 Reed &rarr; Stall
                    </div>
                    {{/with}}
                    {{#with actions.Trough}}
                    <div class="span2 action {{#if usable}}usable{{/if}}" data-command="Trough">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                        +1 Trough<br />
                        3 Wood &rarr; Trough
                    </div>
                    {{/with}}
                    {{#with actions.Rx1}}
                    <div class="span2 action {{#if usable}}usable{{/if}}" data-command="Rx1">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                        &rarr; 1 Reed (1 Sheep)<br />
                        <b>{{reed}} Reed</b><br />
                        <b>{{sheep}} Sheep</b>
                    </div>
                    {{/with}}
                    {{#with actions.Boar}}
                    <div class="span2 action {{#if usable}}usable{{/if}}" data-command="Boar">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                        &rarr; 1 Boar (1 sheep)<br />
                        <b>{{boar}} Boar</b><br />
                        <b>{{sheep}} Sheep</b>
                    </div>
                    {{/with}}
                </div>
                <div class="row">
                    <div class="span2 action">
                        5 Wood/5 Stone<br />
                        Stall &rarr; Stables
                    </div>
                    <div class="span2">
                        <div class="row">
                            <div class="span2 half-action">Special Build</div>
                        </div>
                        <div class="row">
                            <div class="span2 half-action">Special Build</div>
                        </div>
                    </div>
                    {{#with actions.Cattle}}
                    <div class="span2 action {{#if usable}}usable{{/if}}" data-command="Cattle">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                        &rarr; 1 Cattle (1 Boar)<br />
                        <b>{{cattle}} Cattle</b><br />
                        <b>{{boar}} Boar</b>
                    </div>
                    {{/with}}
                    {{#with actions.Horse}}
                    <div class="span2 action {{#if usable}}usable{{/if}}" data-command="Horse">
                        {{#if occupant}}
                            <div class="worker"><img src="@routes.Assets.at("images/agricola2p/worker-{{occupant.color}}.png")"/></div>
                        {{/if}}
                        &rarr; 1 Horse (1 Sheep)<br />
                        <b>{{horses}} Horses</b><br />
                        <b>{{sheep}} Sheep</b>
                    </div>
                    {{/with}}
                </div>
        
            </div>
            <div class="span4">
                Expansions: {{expansions}}<br />
                Feeding Troughs: {{troughs}}<br />
                Expansions:
                    <div>[Half-Timbered House]</div>
                    <div>[Storage Building]</div>
                    <div>[Shelter]</div>
                    <div>[Open Stables]</div>
                Stalls: 4<br />
            </div>
        </div>

        {{#each tasks}}
            <form class="command-form" class="form-inline" data-command="{{command}}">
                <button type="submit" class="btn" {{#if disabled}}disabled{{/if}}>{{label}}</button>
            </form>
        {{/each}}
        {{#each buildable}}
            <div class="buildable {{type}}">Drag</div>
        {{/each}}
        
        <div class="row">
            {{#with redFarm}}
            <div class="span6">
                <h3 class="{{#if active}}active{{/if}}">Red Player</h3>
                <div class="red bin {{#if active}}active{{/if}}">
                    {{#each workers}}
                        <div class="worker {{#if usable}}usable{{/if}}"><img src="@routes.Assets.at("images/agricola2p/worker-{{color}}.png")"/></div>
                    {{/each}}
                    
                    <ul style="display: inline-block">
                        <li>Wood:   {{wood}}</li>
                        <li>Stone:  {{stone}}</li>
                        <li>Reed:   {{reed}}</li>
                        <li>Fences: {{fences}}</li>
                    </ul>
                    <ul style="display: inline-block">
                        <li>Sheep:   {{sheep}}</li>
                        <li>Boar:  {{boar}}</li>
                        <li>Cattle:   {{cattle}}</li>
                        <li>Horses: {{horses}}</li>
                    </ul>
                    <table class="farm">
                        {{#each terrain}}
                        <tr>
                            {{#each this}}
                                {{#equals type "hfence"}}
                                    <td data-y="{{y}}" data-x="{{x}}" class="{{type}} {{#if built}}built{{else}}unbuilt{{/if}}">
                                    </td>
                                {{/equals}}
                                {{#equals type "vfence"}}
                                    <td data-y="{{y}}" data-x="{{x}}" class="{{type}} {{#if built}}built{{else}}unbuilt{{/if}}">
                                    </td>
                                {{/equals}}
                                {{#equals type "farmtile"}}
                                    <td data-y="{{y}}" data-x="{{x}}" class="{{type}} {{#unless trough}}noTrough{{/unless}} {{#unless building}}noBuilding{{/unless}} {{#if enclosed}}enclosed{{/if}}">
                                        {{#if trough}}
                                            <div class="trough"><img src="/assets/images/agricola2p/trough.png" /></div>
                                        {{/if}}
                                        {{#if building}}
                                            <div class="building"><img src="/assets/images/agricola2p/{{building}}.png" /></div>
                                        {{/if}}
                                        
                                    </td>
                                {{/equals}}
                                {{#unless type}}
                                    <td data-y="{{y}}" data-x="{{x}}"></td>
                                {{/unless}}
                            {{/each}}
                        </tr>
                        {{/each}}
                    </table>
                    
                    
                </div>
            </div>
            {{/with}}
            {{#with blueFarm}}
            <div class="span6">
                <h3 class="{{#if active}}active{{/if}}">Blue Player</h3>
                <div class="blue bin {{#if active}}active{{/if}}">
                    {{#each workers}}
                        <div class="worker {{#if usable}}usable{{/if}}"><img src="@routes.Assets.at("images/agricola2p/worker-{{color}}.png")"/></div>
                    {{/each}}
                    
                    <ul style="display: inline-block">
                        <li>Wood:   {{wood}}</li>
                        <li>Stone:  {{stone}}</li>
                        <li>Reed:   {{reed}}</li>
                        <li>Fences: {{fences}}</li>
                    </ul>
                    <ul style="display: inline-block">
                        <li>Sheep:   {{sheep}}</li>
                        <li>Boar:  {{boar}}</li>
                        <li>Cattle:   {{cattle}}</li>
                        <li>Horses: {{horses}}</li>
                    </ul>
                    
                    <table class="farm">
                        {{#each terrain}}
                        <tr>
                            {{#each this}}
                                {{#equals type "hfence"}}
                                    <td data-y="{{y}}" data-x="{{x}}" class="{{type}} {{#if built}}built{{else}}unbuilt{{/if}}">
                                    </td>
                                {{/equals}}
                                {{#equals type "vfence"}}
                                    <td data-y="{{y}}" data-x="{{x}}" class="{{type}} {{#if built}}built{{else}}unbuilt{{/if}}">
                                    </td>
                                {{/equals}}
                                {{#equals type "farmtile"}}
                                    <td data-y="{{y}}" data-x="{{x}}" class="{{type}} {{#unless trough}}noTrough{{/unless}} {{#unless building}}noBuilding{{/unless}} {{#if enclosed}}enclosed{{/if}}">
                                        {{#if trough}}
                                            <div class="trough"><img src="/assets/images/agricola2p/trough.png" /></div>
                                        {{/if}}
                                        {{#if building}}
                                            <div class="building"><img src="/assets/images/agricola2p/{{building}}.png" /></div>
                                        {{/if}}
                                        
                                    </td>
                                {{/equals}}
                                {{#unless type}}
                                    <td data-y="{{y}}" data-x="{{x}}"></td>
                                {{/unless}}
                            {{/each}}
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
            {{/with}}
        </div>
        {{/with}}

        <hr />

        <div class="row">
            <div class="span6">
                <form class="undo-form" class="form-inline" data-command="undo">
                    <button type="submit" class="btn">Undo</button>
                </form>
                {{#if board.canCommit}}
                <form class="commit-form" class="form-inline" data-command="commit">
                        <button type="submit" class="btn">Commit</button>
                </form>
                {{/if}}
            </div>

            <div class="span6">
                Move List:
                <ul>
                    {{#each commands.models}}
                        <li>{{command}}</li>
                    {{/each}}
                </li>
            </div>

        </div>
        <script src='@routes.Assets.at("javascripts/interface.js")'></script>
    </script>
    
    <script src='@routes.Assets.at("javascripts/index.js")'></script>
    
}
