@import com.feth.play.module.pa.views.html._

@main("Kennerspiel.com") {

  <p>Dear Visitor,</p>
  <p>
    I'm in the middle of rewriting this site. The played games history from the old site have been
    archived, and will be imported here once things are back up.
  </p>
  <p>
    Things you can look forward to:
    <ul>
      <li>A mobile-friendly interface</li>
      <li>Faster page load times</li>
      <li>JSON endpoints for writing extensions</li>
      <li>More games</li>
    </ul>
  </p>
  <p>
    Please feel free to poke around in the mean time.
  </p>
  <p>Philihp</p>

}