@(user: User, instance: Instance)

@main(user: User) {
   
<div class="page"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script src="@routes.Assets.at("javascripts/start.min.js")"></script>
<script src="@routes.Assets.at("javascripts/handlebars-helpers.js")"></script>

<script type="text/x-handlebars-template" id="instance-agricola2p-template">

  <table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td colspan="2" width="40%">
      <div>[ id: {{id}} | name: {{name}} | round: {{board.round}} moves: {{board.move}} ] [ Active Player: <span style="color: {{board.activePlayer}}">{{board.activePlayer}}</span> ]</div>
    </td>
    <td rowspan="3">


{{#with board.gameBoard.actions}}
<table border="1">
  <tr>
    {{#with SP1W}}
    <td class="{{type}}">
      <div><b>SP1W</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with 3W}}
    <td class="{{type}}">
      <div><b>3W</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with 2S}}
    <td class="{{type}}">
      <div><b>2S</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with 1S}}
    <td class="{{type}}">
      <div><b>1S</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
  </tr>
  <tr>
    {{#with FENCE}}
    <td>
      <div><b>FENCE</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with WALL}}
    <td>
      <div><b>WALL</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with RSW}}
    <td>
      <div><b>RSW</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with EXPAND}}
    <td>
      <div><b>EXPAND</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
  </tr>
  <tr>
    {{#with STALL}}
    <td>
      <div><b>STALL</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with TROUGH}}
    <td>
      <div><b>TROUGH</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with MILL}}
    <td>
      <div><b>MILL</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with PIGS}}
    <td>
      <div><b>PIGS</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
  </tr>
  <tr>
    {{#with STABLE}}
    <td>
      <div><b>STABLE</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with BUILD1}}
    <td>
      <div><b>BUILD1</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with COWS}}
    <td>
      <div><b>COWS</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
    {{#with HORSES}}
    <td>
      <div><b>HORSES</b></div>
      {{#each resources}}
        <div class="{{type}} {{color}}">{{type}}</div>
      {{/each}}
    </td>
    {{/with}}
  </tr>      
</table>
{{/with}}



    </td>
    <td rowspan="3" width="20%">
<ul>
{{#each board.history}}
<li><code>{{text}}</code></li>
{{/each}}
{{#each board.preview}}
<li><code><i>{{text}}</i></code></li>
{{/each}}
</ul>
    </td>
  </tr>

  {{#each board.farmBoards}}
  <tr><td width="20%">

  <h3 style="color: {{@@key}}">{{@@key}}</h3>
  <ul>
  {{#each resources}}
    <li><div class="{{type}} {{color}}">{{type}}</div></li>
  {{/each}}
  </ul>

  </td><td width="20%">

  <table border="1" cellspacing="0" cellpadding="0" class="terrain">
    {{#each terrain}}
    <tr>
      {{#each this}}
        <td class="{{type}}">
          {{#if trough}}
            <span style="font-size: xx-large">&#8962;</span>
          {{/if}}
        </td>
      {{/each}}
    </tr>
    {{/each}}   
  </table>

  </td></tr>
  {{/each}}
  </table>
  
  <hr />

  <table border="0" cellspacing="0" cellpadding="0"><tr><td>

  <textarea rows="4" cols="30" id="preview">{{#each board.preview}}{{text}}
{{/each}}</textarea>
  <button onclick="previewCommand()">Preview</button>
  <button onclick="sendCommand()">Save</button>

  </td><td>

  <ul>
  {{#eachInMap board.tasks}}
    <li id="task-{{key}}">
      <button class="button" onclick="addCommand('#task-{{key}}')" {{#unless value.usable}}disabled{{/unless}}>{{key}}</button>
      {{#if value.possibleParameters}}
      <select class="param">
        {{#each value.possibleParameters}}<option>{{this}}</option>{{/each}}
      </select>
      {{/if}}
    </li>
  {{/eachInMap}}
  </ul>

  </td></tr></table>

  <hr />

  <ul>
  {{#each commands}}
    <li>{{command}}</li>
  {{/each}}
  <ul>
</script>

<script>
var INSTANCE = @instance.id;
</script>

<script>
function addCommand(taskId) {
  var preview = $('#preview');
  var command = $(taskId).children('.button').text();
  if($(taskId).children('.param').length != 0) {
	  command += ' '+$(taskId).children('.param').val()
	}
  preview.val(preview.val()+command+'\n');
  instanceView.render();
}

function previewCommand() {
	instanceView.render();
}

function sendCommand() {
  var commandString = $('#preview').val().trim();
	console.log('sending: '+command); 
	var command = new Command();
	var commandDetails = {
		"instance.id" : INSTANCE,
		"command" : commandString
  };
  
  command.save(commandDetails, {
    success: function(command) {
      $('#preview').val('');
      instanceView.render();
    }
  });
  
}
</script>

<script>
var Instance = Backbone.Model.extend({
  urlRoot: '/api/instances'
});

var Command = Backbone.Model.extend({
  urlRoot: '/api/commands'
});

var InstanceView = Backbone.View.extend({
	el: '.page',
	render: function(options) {
	  var that = this;
	  that.instance = new Instance({id: INSTANCE});
	  that.instance.fetch({
		  data: $.param({ preview: $('#preview').val() }),
	    success: function(instance) {
	      var template = Handlebars.compile($('#instance-'+instance.get('game')+'-template').html());
        that.$el.html(template(instance));
	    }
	  });
	}
});

var Router = Backbone.Router.extend({
	routes: {
    '' : 'home'
	}
});

var instanceView = new InstanceView();

var router = new Router();
router.on('route:home', function() {
	  instanceView.render();
});

Backbone.history.start();

</script>

}
