@(user: User)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Kennerspiel</title>
    	
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    </head>
    <body>


<h1>Kennerspiel.com</h1>

<p>
[
  <a href="@routes.Application.index">Main</a>
]
       
@if(user != null) {
	@user.name (@user.email)
	<a href="@routes.Application.logout()">Logout</a> 
} else {
	<a href="@routes.Application.login()">Login</a>  <a href="@routes.Application.register()">Register</a> 
}
</p>
 
<div>
        
  @content
        
</div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-relational/0.8.5/backbone-relational.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
    --> 
    <script src="@routes.Assets.at("javascripts/start.min.js")"></script>
        
    </body>
</html>
