@(user: User)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Kennerspiel</title>
    	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    	<!--
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css">
      -->
    </head>
    <body>
      <div class="container">

[
  <a href="@routes.Application.index">Index</a>
|
  <a href="@routes.Application.join">Join</a>
|
  <a href="@routes.Application.create">Create</a>
|
  <a href="@routes.Application.settings">Settings</a>
|
  <a href="@routes.Application.stats">Stats</a>
]

@if(user != null) {
	@user.name
	<a href="@routes.Application.logout()">Logout</a> 
} else {
	<a href="@routes.Application.login()">Login</a>  <a href="@routes.Application.register()">Register</a> 
}
</p>
<hr />
 
<div>
        
  @content
        
</div>

        </div>
    </body>
</html>
