@(form: play.data.Form[Application.Register])

@main(null) {

	@helper.form(routes.Application.registerSubmit) {
		<h2>Register</h2>
	
		@if(form.hasGlobalErrors) {
			<p class="error">
				@form.globalError.message
			</p>
		}
		@if(flash.contains("success")) {
			<p class="success">
				@flash.get("success")
			</p>
		}
		
		<p>
			<input type="email" name="email" placeholder="Email" value="@form("email").value">
		</p>
		<p>
			<input type="text" name="name" placeholder="Name" value="@form("name").value">
		</p>
		<p>
			<input type="password" name="password" placeholder="Password">
		</p>
		<p>
			<input type="password" name="confirm" placeholder="Confirm Password">
		</p>
		<p>
			<button type="submit">Register</button>
		</p>

	}
}